*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/SpaceGrotesk-Bold.woff2") format("woff2");
}

:root {
    --bg: #f7f8fb;
    --surface: white;
    --surface-muted: #f9f9f9;
    --border: #e5e7eb;
    --text-black: #111827;
    --muted: #6b7280;
    --accent: #3b82f6;        /* primary button */
    --accent-hover: #60a5fa;  /* hover */
    --danger-bg: #7f1d1d;
    --danger-hover: #991b1b;

    --edit-bg: #5e73b6;
    --edit-hover: #7092f1;

    --shadow: rgba(0, 0, 0, 0.35);

    --dialog-backdrop: rgba(0, 0, 0, 0.65);
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background: var(--bg);
    color: var(--text-black);
    margin-top: 5rem;
    transition: 0.2s ease;
}
input {
    caret-color: var(--accent);
}
body.dark_theme {
    --bg: #27292e;            /* общий фон страницы */
    --surface-dark: #333335;       /* карточки / dialog / nav */
    --border: #3e3f42;        /* границы */
    --surface-muted: #4d4d4d;
    --text-white: #f8fafc;          /* основной текст */
    --muted: #94a3b8;         /* вторичный текст */

    --accent: #3b82f6;        /* primary button */
    --accent-hover: #60a5fa;  /* hover */

    --button-secondary: #334155;
    --button-secondary-hover: #475569;

    --shadow: rgba(0, 0, 0, 0.35);

    --dialog-backdrop: rgba(0, 0, 0, 0.65);

    --danger-bg: #7f1d1d;
    --danger-hover: #991b1b;

    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    font: inherit;

}

/* NAV */

nav {
    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;

    width: 100%;
    padding: 1rem 2rem;
    backdrop-filter: blur(10px);

    background: linear-gradient(to right, var(--bg), var(--surface-muted));
    border-bottom: 1px solid var(--border);
}
.notes_icon {
    width: 1rem;
    height: 1rem;
}

.header {
    display: flex;
    margin-right: auto;
    transition: transform 0.2s ease;
}
.header:hover {
    transform: translateY(-0.05rem);
}
.header:active {
    color: var(--muted);
}

h1 {
    font-size: 1.6rem;
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 0.8rem;
}

button {
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-1px);
}

/* BUTTONS */

.add_note_btn,
.save_btn {
    padding: 0.8rem 1.2rem;
    border-radius: 12px;
    background: var(--accent);
    color: white;
    font-weight: 600;
}

.add_note_btn:hover,
.save_btn:hover {
    background: var(--accent-hover);
}


.theme_toggle_btn,
.close_btn,
.cancel_btn {
    padding: 0.8rem 1rem;
    border-radius: 12px;
    background: var(--bg);
}

.theme_toggle_btn:hover,
.close_btn:hover,
.cancel_btn:hover {
    background: #e5e7eb;
}

/* NOTES GRID */

.notes_grid {
    width: min(1200px, 100%);
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.25rem;
}

/* Пример карточек заметок */
.note {
    background: var(--surface);
    padding: 1.2rem;
    border-radius: 18px;
    border: 1px solid var(--border);
    box-shadow: 0 6px 20px rgba(0,0,0,0.04);

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    min-height: 5dvh;
}

.note h3 {
    font-size: clamp(0.5rem, 2dvw + 0.5rem, 1.3rem);
    font-weight: 700;
}

.note p {
    color: var(--muted);
    line-height: 1.5;
}

.note_card {
    background: linear-gradient(to bottom, var(--surface) 60%, var(--bg));
    padding: 1.2rem;
    border-radius: 18px;
    border: 1px solid var(--border);
    box-shadow: 0 6px 20px rgba(0,0,0,.04);

    min-height: 24dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    transition: transform 0.2s ease;
}
.note_card:hover {
    transform: scale(1.01);
}
.note_title {
    font-size: clamp(0.5rem, 2dvw + 0.5rem, 1.3rem);
    font-weight: 700;
}

.note_content {
    color: var(--muted);
    line-height: 1.6;
    flex: 1;
    white-space: pre-wrap;
    word-break: break-word;
}

.note_actions {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.edit_btn,
.delete_btn {
    width: clamp(1rem, 5dvw + 0.5rem, 2rem);
    height: clamp(1rem, 5dvh + 0.5rem, 2rem);
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.edit_btn {
    background: var(--edit-bg);
}
.edit_btn:hover {
    background: var(--edit-hover);
}
.delete_btn {
    background: var(--edit-bg);
}

.delete_btn {
    background: var(--danger-bg);
}
.delete_btn:hover {
    background: var(--danger-hover);
}
.empty_state {
    grid-column: 1 / -1;
    text-align: center;
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
/* DIALOG */

dialog {
    margin: auto;
    border: none;
    border-radius: 24px;
    width: min(600px, 90vw);
    padding: 0;
    background: transparent;
}

dialog::backdrop {
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(4px);
}

.dialog_content {
    background: white;
    padding: 1.8rem;
    border-radius: 24px;
}

.dialog_header {
    display: flex;
    align-items: center;
    margin-bottom: clamp(0.8rem, 1.5vh + 0.5rem, 1.5rem);
}

.dialog_title {
    margin-right: auto;
    font-size: clamp(1rem, 2dvw + 0.5rem, 1.6rem);
    font-weight: 700;
}

#noteForm {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form_label {
    font-weight: 600;
}

.form_input,
.form_textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--border);
    border-radius: 14px;
    outline: none;
}

.form_input:focus,
.form_textarea:focus {
    border-color: var(--accent);
}

.form_textarea {
    min-height: 180px;
    overflow-x: hidden;
    resize: vertical;
}

.dialog_actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/* MOBILE */

@media (max-width: 768px) {
    body {
        text-align: center;
    }
    nav {
        padding: 1rem;
    }

    .buttons {
        gap: 0.5rem;
    }

    .add_note_btn {
        font-size: clamp(1rem, 2dvw + 0.5rem, 1.3rem);
        padding: 0.7rem 1rem;
    }

    h1 {
        font-size: clamp(1rem, 2dvw + 0.5rem, 1.3rem);
    }
}